.exam1{
    border-style: dotted;
    border-color: blue;
    
}
.exam2{
    border-style: dashed;
    border-color: blue;
}
.exam3{
    border-style: solid;
    border-color: blue;

}
.exam4{
    border-style: double;
    border-color: blue;
}
.exam5{
    border-style: groove;
    border-color: blue;
}
.exam6{
    border-style: ridge;
    border-color: blue;

}
.exam7{
    border-style: inset;
    border-color: blue;

}
.exam8{
    border-style: outset;
    border-color: blue;

}