html{
    margin: 20px;
}
.html1{
    text-align: center ;
}
.asignment{
    text-align: center;
}
.letters{
    color: green;
}

.font{
    font-size: 35px;
}
.of{
    color: red;
}
.salam{
    color: blue;
}